@using SistemaGestionAlquilerVehiculos.Entities
@model SistemaGestionAlquilerVehiculos.Models.VehiculoViewModel

@{
    ViewData["Title"] = "Registrar Vehículo";
}

<h1>Registrar Vehículo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="Marca" class="form-control" id="marca">
                </select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <select asp-for="Modelo" class="form-control" id="modelo">
                </select>
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="Year" class="form-control">
                    @for (int i = (DateTime.Now.Year + 1); i >= 1990; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control">
                    <option value="Blanco">Blanco</option>
                    <option value="Negro">Negro</option>
                    <option value="Gris">Gris</option>
                    <option value="Plateado">Plateado</option>
                    <option value="Azul">Azul</option>
                    <option value="Rojo">Rojo</option>
                    <option value="Marrón">Marrón</option>
                    <option value="Beige">Beige</option>
                    <option value="Verde">Verde</option>
                    <option value="Amarillo">Amarillo</option>
                    <option value="Dorado">Dorado</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CodigoGps" class="control-label"></label>
                <input asp-for="CodigoGps" class="form-control" />
                <span asp-validation-for="CodigoGps" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PrecioAlquiler" class="control-label"></label>
                <input asp-for="PrecioAlquiler" class="form-control" />
                <span asp-validation-for="PrecioAlquiler" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="@VehiculoEstado.DISPONIBLE">Disponible</option>
                    <option value="@VehiculoEstado.ALQUILADO">Alquilado</option>
                    <option value="@VehiculoEstado.NO_DISPONIBLE">No disponible</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listado de Vehículos</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        for (const option of marcas.sort((a, b) => a.brand.localeCompare(b.brand))) {
            const opt = document.createElement('option');
            opt.value = option.brand;
            opt.innerHTML = option.brand;
            marca.appendChild(opt);
        }

        for (const option of marcas[0].models.sort((a, b) => a.localeCompare(b))) {
            const opt = document.createElement('option');
            opt.value = option;
            opt.innerHTML = option;
            modelo.appendChild(opt);
        }
    </script>
}
