@model SistemaGestionAlquilerVehiculos.Models.VehiculoViewModel

@{
    ViewData["Title"] = "Vehículo";
}

<h1>Vehículo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoGps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoGps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioAlquiler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioAlquiler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Listado de Vehículos</a>
</div>
